.Newbot{
    background: #212932;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 2px;
    width: 100%;
    min-width: 180px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.bot_wrapper{
    width: 100%;
    min-width: 180px;
}
.Newbot h3{
    color: #4CB2FF;
    font-size: 13px;
    font-family: sans-serif;
}

.Plus{
    width: 18px;
    height: 18px;
    border: 2px solid #4CB2FF;
    border-radius: 50%;
    font-size: 16px;
    color: #4CB2FF;
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:normal;
    font-family: sans-serif;
}
.Newbot:hover{
    cursor: pointer;
    background: #2d353f;
}

@media (max-width: 350px) {
    .Newbot h3{
        font-size: 12px;
    }
    .Plus{
        width: 17px;
        height: 17px;
        font-size: 14px;
        border: 2px solid #4CB2FF;
        border-radius: 50%;
        margin-left: 10px;
    }
}